/*Light Theme / Default*/
:root, [data-bs-theme=light], body:not([class*=theme]), body.theme-light {
    --bs-px-p3: 0.01875rem; /* 0.3px */
    --bs-px-9: 0.5625rem;   /*   9px */
    --bs-px-10: 0.625rem;   /*  10px */
    --bs-px-n10:-0.625rem;  /* -10px */
    --bs-px-11: 0.6875rem;  /*  11px */
    --bs-px-12: 0.75rem;    /*  12px */
    --bs-px-13: 0.8125rem;  /*  13px */
    --bs-px-14: 0.875rem;   /*  14px */
    --bs-px-15: 0.9375rem;  /*  15px */
    --bs-px-17: 1.0625rem;  /*  17px */
    --bs-px-18: 1.125rem;   /*  18px */
    --bs-px-21: 1.3125rem;  /*  21px */
    --bs-px-24: 1.5rem;     /*  24px */
    --bs-px-36: 2.25rem;    /*  36px */
    --bs-px-40: 2.5rem;     /*  40px */
	--bs-px-48: 3rem;       /*  48px */
	/* --bs-btn-primary: #a6ce39; */
	/* --bs-btn-secondary: #52297a; */
	/* --bs-primary: 52297a; */
	/* --bs-green: #a1c904; */
	/* --bs-green-light: #a1c904; */
	/* --bs-yellow: #ffcc00; */
	/* --bs-purple-dark: #52297a; */
	/* --bs-purple-light: #49246d; */
	/* --bs-heading-color: #212529; */
    /* --bs-blue: #0d6efd; */
    /* --bs-indigo: #6610f2; */
    /* --bs-pink: #d63384; */
    /* --bs-orange: #fd7e14; */
    /* --bs-yellow: #ffc107; */
    /* --bs-teal: #20c997; */
    /* --bs-cyan: #0dcaf0; */
    --bs-purple: #90f;
    --bs-purple-rgb: 153, 0, 255;
    --bs-red: #f66;
    --bs-red-rgb: 255, 102, 102;
    --bs-green: #0b8;
    --bs-white: #fff;
    --bs-white-rgb: 255, 255, 255;
    --bs-light: #f6f7fb;
    --bs-light-rgb: 246, 247, 251;
    --bs-gray-100: var(--bs-light);
    --bs-gray-200: #eee;
    --bs-gray-300: #ddd;
    --bs-gray-400: #bbb;
    --bs-gray-400-rgb: 187, 187, 187;
    --bs-gray-500: #999;
    --bs-gray-500-rgb: 153, 153, 153;
    --bs-gray: #666;
    --bs-gray-600: var(--bs-body-color);
    --bs-gray-700: #555;
    --bs-gray-dark: #333;
    --bs-gray-800: var(--bs-gray-dark);
    --bs-dark: #222;
    --bs-dark-rgb: 34, 34, 34;
    --bs-gray-900: var(--bs-dark);
    --bs-black: #000;
    --bs-black-rgb: 0, 0, 0;
    --bs-primary: #84bb3b;
    --bs-primary-rgb: 132, 187, 59;
    --bs-secondary: #639;
    --bs-secondary-rgb: 102, 51, 153;
    --bs-secondary-color: rgba(var(--bs-secondary-color-rgb), 0.75);
    --bs-secondary-color-rgb: 34, 17, 51;
    --bs-secondary-bg: #ece9ef;
    --bs-secondary-bg-rgb: 236, 233, 239;
    --bs-success: var(--bs-green);
    --bs-success-rgb: 0, 187, 136;
    --bs-danger: var(--bs-red);
    --bs-danger-rgb: 255, 102, 102;
    --bs-greenyellow: #cf6;
    --bs-greenyellow-rgb: 204, 255, 102;
    --bs-primary-text-emphasis: #3b6505;
    --bs-secondary-text-emphasis: #2e2b32;
    --bs-success-text-emphasis: #0a362a;
    --bs-danger-text-emphasis: #581515;
    --bs-light-text-emphasis: var(--bs-gray-700);
    --bs-dark-text-emphasis: var(--bs-gray-700);
    --bs-primary-bg-subtle: #cfefa5;
    --bs-secondary-bg-subtle: #e3e2e5;
    --bs-success-bg-subtle: #d1e7e1;
    --bs-danger-bg-subtle: #f8d7d7;
    --bs-light-bg-subtle: var(--bs-light);
    --bs-dark-bg-subtle: #cec7d5;
    --bs-primary-border-subtle: #9ed952;
    --bs-secondary-border-subtle: #c7c4cb;
    --bs-success-border-subtle: #a3cfc3;
    --bs-danger-border-subtle: #f1aeae;
    --bs-light-border-subtle: #e9e3ef;
    --bs-dark-border-subtle: #aba1b5;
    --bs-custom-font: "Chalet";
    --bs-font-sans-serif: var(--bs-custom-font), system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(var(--bs-white-rgb), 0.15), rgba(var(--bs-white-rgb), 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    /* --bs-body-font-size: 1rem; */
    /* --bs-body-font-weight: 400; */
    /* --bs-body-line-height: 1.5; */
    --bs-body-color: var(--bs-gray);
    --bs-body-color-rgb: 102, 102, 102;
    --bs-body-bg: var(--bs-white);
    --bs-body-bg-rgb: var(--bs-white-rgb);
    --bs-emphasis-color: var(--bs-black);
    --bs-emphasis-color-rgb: var(--bs-black-rgb);
    --bs-tertiary-color: rgba(var(--bs-tertiary-color-rgb), 0.5);
    --bs-tertiary-color-rgb: 37, 33, 41;
    --bs-tertiary-bg: var(--bs-light);
    --bs-tertiary-bg-rgb: var(--bs-light-rgb);
    --bs-heading-color: var(--bs-secondary);
    --bs-heading-color-rgb: var(--bs-secondary-rgb);
    --bs-link-color: var(--bs-primary);
    --bs-link-color-rgb: var(--bs-primary-rgb);
    /* --bs-link-decoration: underline; */
    --bs-link-hover-color: #ad3;
    --bs-link-hover-color-rgb: 170, 221, 51;
    --bs-code-color: var(--bs-pink);
    --bs-highlight-color: var(--bs-dark);
    --bs-border-color: var(--bs-gray-300);
    --bs-border-color-translucent: rgba(var(--bs-black-rgb), 0.175);
    --bs-box-shadow: 0 0.25rem 1rem rgba(var(--bs-secondary-rgb), 0.20);
    --bs-box-shadow-upward: 0 -0.25rem 1rem rgba(var(--bs-secondary-rgb), 0.20);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--bs-secondary-rgb), 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(var(--bs-secondary-rgb), 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(var(--bs-secondary-rgb), 0.075);
    /* --bs-focus-ring-opacity: 0.25; */
    --bs-focus-ring-color: rgba(151, 227, 52, 0.25);
    --bs-form-valid-color: var(--bs-green);
    --bs-form-valid-border-color: var(--bs-form-valid-color);
    --bs-form-invalid-color: var(--bs-red);
    --bs-form-invalid-border-color: var(--bs-form-invalid-color);
    --bs-btn-close-filter: ;
    --bs-map-wrapper: calc(100vh - (var(--mob-top-height) * 2));
    --bs-map-wrapper-lg: calc(100vh - 6.3125rem);
    --bs-nearby_radius: 18.75rem;
    --bs-facebook-rgb: 8, 102, 255;
    --bs-google-rgb: 234, 67, 53;
    --bs-youtube-rgb: 237, 31, 36;
    --bs-twitter-rgb: var(--bs-black-rgb);
    --bs-linkedin-rgb: 14, 118, 168;
    --mob-top-height: 3.5rem; /* 56px */
    /*SVG WHITE FILL*/
    --svg-filter-white: brightness(0) invert(1);
    /*CATEGORY BOX*/
    --cat-cities-rgb: 153, 0, 255;
    --cat-dine-wine-rgb: 170, 204, 85;
    --cat-dining-rgb: 109, 168, 167;
    --cat-eats-rgb: 255, 0, 187;
    --cat-health-rgb: 255, 102, 102;
    --cat-automotive-rgb: 0, 187, 255;
    --cat-shop-rgb: 221, 85, 34;
    --cat-pets-rgb: 0, 187, 136;
    --cat-beauty-rgb: 255, 153, 0;
    --cat-entertainment-rgb: var(--cat-perks-rgb);
    --cat-kids-rgb: 255, 204, 0;
    --cat-business-services-rgb: 187, 0, 153;
    --cat-home-rgb: 0, 238, 102;
    --cat-gifts-rgb: 226, 21, 21;
    --cat-perks-rgb: 85, 136, 204;
    --cat-bogo-rgb: 60, 176, 67;
}
/*Dark Theme*/
[data-bs-theme=dark], body.theme-dark {
    --bs-body-color: var(--bs-light);
    --bs-body-color-rgb: var(--bs-light-rgb);
    --bs-body-bg: #213;
    --bs-body-bg-rgb: 34, 17, 51;
    --bs-primary: #cf8;
    --bs-primary-rgb: 204, 255, 136;
    --bs-secondary: #8849c8;
    --bs-secondary-rgb: 136, 73, 200;
    --bs-secondary-color: rgba(var(--bs-secondary-color-rgb), 0.75);
    --bs-secondary-color-rgb: 222, 216, 229;
    --bs-secondary-bg: #3a3440;
    --bs-secondary-bg-rgb: 58, 52, 64;
    --bs-emphasis-color: var(--bs-white);
    --bs-emphasis-color-rgb: var(--bs-white-rgb);
    --bs-tertiary-color: rgba(var(--bs-secondary-color-rgb), 0.5);
    --bs-tertiary-color-rgb: 222, 216, 229;
    --bs-tertiary-bg: #1b0b2a;
    --bs-tertiary-bg-rgb: 27, 11, 42;
    --bs-heading-color: #dbf;
    --bs-heading-color-rgb: 221, 187, 255;
    --bs-link-color-rgb: var(--bs-primary-rgb);
    --bs-highlight-color: var(--bs-gray-300);
    --bs-primary-text-emphasis: #6e9042;
    --bs-secondary-text-emphasis: #a7a1ad;
    --bs-success-text-emphasis: #75b7a5;
    --bs-danger-text-emphasis: #ea8686;
    --bs-light-text-emphasis: var(--bs-light);
    --bs-dark-text-emphasis: var(--bs-gray-300);
    --bs-primary-bg-subtle: #030401;
    --bs-secondary-bg-subtle: #161417;
    --bs-success-bg-subtle: #051b15;
    --bs-danger-bg-subtle: #2c0b0b;
    --bs-light-bg-subtle: var(--bs-secondary-bg);
    --bs-dark-bg-subtle: #1d1a20;
    --bs-primary-border-subtle: #5d9808;
    --bs-secondary-border-subtle: #46414b;
    --bs-success-border-subtle: #0f513f;
    --bs-danger-border-subtle: #842020;
    --bs-light-border-subtle: var(--bs-border-color);
    --bs-dark-border-subtle: var(--bs-secondary-bg);
    --bs-code-color: #e68585;
    --bs-border-color: #494f40;
    --bs-border-color-translucent: rgba(var(--bs-white-rgb), 0.15);
    --bs-form-valid-color: var(--bs-success-text-emphasis);
    --bs-form-valid-border-color: var(--bs-success-text-emphasis);
    --bs-form-invalid-color: var(--bs-danger-text-emphasis);
    --bs-form-invalid-border-color: var(--bs-danger-text-emphasis);
    --bs-btn-close-filter: invert(1) grayscale(100%) brightness(200%);
    --bs-twitter-rgb: var(--bs-white-rgb);
}
/*Font-Size*/
.fs-36 {font-size: var(--bs-px-36)}
.fs-24 {font-size: var(--bs-px-24);}
.fs-21 {font-size: var(--bs-px-21);}
.fs-18 {font-size: var(--bs-px-18);}
.fs-14 {font-size: var(--bs-px-14);}
.fs-13 {font-size: var(--bs-px-13);}
.fs-12 {font-size: var(--bs-px-12);}
.fs-11 {font-size: var(--bs-px-11);}
.fs-10 {font-size: var(--bs-px-10);}
.fs-9 {font-size: var(--bs-px-9);}
/*Button*/
.btn {
    --bs-btn-font-weight: 600;
    --bs-btn-padding-x: 1rem;
}
.btn-primary,
.btn-secondary,
.btn-google,
.btn-facebook {
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-btn-bg);
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: var(--bs-btn-bg);
    --bs-btn-disabled-color: var(--bs-white);
    background-image: none;
}
.btn-primary {
    --bs-btn-bg: rgba(var(--bs-primary-rgb), 1);
    --bs-btn-border-color: rgba(var(--bs-primary-rgb), 1);
    --bs-btn-hover-border-color: rgba(var(--bs-primary-rgb), 0.6);
    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
    --bs-btn-active-border-color: rgba(var(--bs-primary-rgb), 0.9);
    --bs-btn-disabled-border-color: rgba(var(--bs-primary-rgb), 1);
    --bs-btn-disabled-bg: rgba(var(--bs-primary-rgb), 0.7);
}
[data-bs-theme=dark] .btn-primary, body.theme-dark .btn-primary {color: rgba(var(--bs-black-rgb), 0.72);}
.btn-secondary {
    --bs-btn-bg: rgba(var(--bs-secondary-rgb), 1);
    --bs-btn-border-color: rgba(var(--bs-secondary-rgb), 1);
    --bs-btn-hover-border-color: rgba(var(--bs-secondary-rgb), 0.6);
    --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);
    --bs-btn-active-border-color: rgba(var(--bs-secondary-rgb), 0.9);
    --bs-btn-disabled-border-color: rgba(var(--bs-secondary-rgb), 1);
    --bs-btn-disabled-bg: rgba(var(--bs-secondary-rgb), 0.7);
}
.btn-google {
    --bs-btn-bg: rgba(var(--bs-google-rgb), 1);
    --bs-btn-border-color: rgba(var(--bs-google-rgb), 1);
    --bs-btn-hover-border-color: rgba(var(--bs-google-rgb), 0.6);
    --bs-btn-focus-shadow-rgb: var(--bs-google-rgb);
    --bs-btn-active-border-color: rgba(var(--bs-google-rgb), 0.9);
    --bs-btn-disabled-border-color: rgba(var(--bs-google-rgb), 1);
    --bs-btn-disabled-bg: rgba(var(--bs-google-rgb), 0.7);
}
.btn-facebook {
    --bs-btn-bg: rgba(var(--bs-facebook-rgb), 1);
    --bs-btn-border-color: rgba(var(--bs-facebook-rgb), 1);
    --bs-btn-hover-border-color: rgba(var(--bs-facebook-rgb), 0.6);
    --bs-btn-focus-shadow-rgb: var(--bs-facebook-rgb);
    --bs-btn-active-border-color: rgba(var(--bs-facebook-rgb), 0.9);
    --bs-btn-disabled-border-color: rgba(var(--bs-facebook-rgb), 1);
    --bs-btn-disabled-bg: rgba(var(--bs-facebook-rgb), 0.7);
}
.btn-primary:hover,
.btn-primary:active {
  background-image: linear-gradient(rgba(var(--bs-white-rgb), 0.1), rgba(var(--bs-white-rgb), 0.1));
}
.btn-secondary:hover,
.btn-secondary:active {
  background-image: linear-gradient(rgba(var(--bs-white-rgb), 0.2), rgba(var(--bs-white-rgb), 0.2));
}
.btn-google:hover,
.btn-google:active {
  background-image: linear-gradient(rgba(var(--bs-white-rgb), 0.1), rgba(var(--bs-white-rgb), 0.1));
}
.btn-facebook:hover,
.btn-facebook:active {
  background-image: linear-gradient(rgba(var(--bs-white-rgb), 0.1), rgba(var(--bs-white-rgb), 0.1));
}
.btn-primary:hover,
.btn-primary:active,
.btn-secondary:hover,
.btn-secondary:active,
.btn-google:hover,
.btn-google:active,
.btn-facebook:hover,
.btn-facebook:active {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.btn-outline-primary,
.btn-outline-secondary {
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(var(--bs-black-rgb), 0.125);
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}
.btn-outline-primary {
    --bs-btn-color: rgba(var(--bs-primary-rgb), 1);
    --bs-btn-border-color: rgba(var(--bs-primary-rgb), 1);
    --bs-btn-hover-bg: rgba(var(--bs-primary-rgb), 1);
    --bs-btn-hover-border-color: rgba(var(--bs-primary-rgb), 1);
    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
    --bs-btn-active-bg: rgba(var(--bs-primary-rgb), 1);
    --bs-btn-active-border-color: rgba(var(--bs-primary-rgb), 1);
    --bs-btn-disabled-color: rgba(var(--bs-primary-rgb), 1);
    --bs-btn-disabled-border-color: rgba(var(--bs-primary-rgb), 1);
}
.btn-outline-secondary {
    --bs-btn-color: rgba(var(--bs-secondary-rgb), 1);
    --bs-btn-border-color: rgba(var(--bs-secondary-rgb), 1);
    --bs-btn-hover-bg: rgba(var(--bs-secondary-rgb), 1);
    --bs-btn-hover-border-color: rgba(var(--bs-secondary-rgb), 1);
    --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);
    --bs-btn-active-bg: rgba(var(--bs-secondary-rgb), 1);
    --bs-btn-active-border-color: rgba(var(--bs-secondary-rgb), 1);
    --bs-btn-disabled-color: rgba(var(--bs-secondary-rgb), 1);
    --bs-btn-disabled-border-color: rgba(var(--bs-secondary-rgb), 1);
}