@inject IJSRuntime JSRuntime
@inject IApiService apiService
@using ConnectNow.Domain.Models
@using  ConnectNow.Requests.User

<div class="main-wrap">

    <div class="nav-header bg-transparent shadow-none border-0">
        <div class="nav-top w-100">
            <a href="CN-index.html" class="mt-3"><img src="images/connect_now.svg" alt="" /> </a>
            <a href="CN_login.html" class="header-btn d-none d-lg-block bg-dark fw-500 text-white font-xsss p-3 ms-auto w100 text-center lh-20 rounded-xl">Login</a>
            <a href="CN-register.html" class="header-btn d-none d-lg-block bg-current fw-500 text-white font-xsss p-3 ms-2 w100 text-center lh-20 rounded-xl">Register</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-5 d-none d-xl-block p-0 vh-100 bg-image-cover bg-no-repeat" style="background-image: url(images/login-bg-2.jpg);"></div>
        <div class="col-xl-7 vh-100 align-items-center d-flex bg-white rounded-3 overflow-hidden">
            <div class="card shadow-none border-0 ms-auto me-auto login-card">
                <div class="card-body rounded-0 text-left ">
                    <h2 class="fw-700 display1-size display2-md-size mb-4">Forgot Password</h2>

                    <form id="forgotPasswordForm" action="#">

                        <!-- Screen-1 -->
                        <div class="tab">
                            <h6>Enter your Email or Phone</h6>
                            <p>We will send you a verification code</p>
                            <div class="form-group icon-input mb-3">
                                <i class="font-sm ti-email text-grey-500 pe-0"></i>
                                <input @bind="userInput" type="text" class="style2-input ps-5 form-control text-grey-900 font-xsss fw-600" placeholder="Email or Phone">
                            </div>
                        </div>

                        <!-- Screen-2 -->
                        <div class="tab">
                            <p>Enter the Verification Code sent to your Email/Phone</p>
                            <div class="form-group icon-input mb-3">
                                <i class="font-sm ti-key text-grey-500 pe-0"></i>
                                <input @bind="verificationCode" type="text" class="style2-input ps-5 form-control text-grey-900 font-xsss fw-600" placeholder="Enter 6-Digit Code">
                            </div>
                        </div>

                        <!-- Screen-3 -->
                        <div class="tab">
                            <div class="form-group icon-input mb-3">
                                <input @bind="newPassword" id="newPassword" type="password" class="style2-input ps-5 form-control text-grey-900 font-xss ls-3" placeholder="New Password">
                                <i class="font-sm ti-lock text-grey-500 pe-0"></i>
                            </div>
                            <div class="form-group icon-input mb-1">
                                <input id="confirmPassword" type="password" class="style2-input ps-5 form-control text-grey-900 font-xss ls-3" placeholder="Confirm Password">
                                <i class="font-sm ti-lock text-grey-500 pe-0"></i>
                            </div>
                        </div>

                        <!-- Screen NAVIGATION -->
                        <div class="overflow-auto">
                            <div class="d-flex flex-row flex-nowrap justify-content-between">
                                <button type="button" id="prevBtn" @onclick="() => nextPrev(-1)" class="text-center text-white fw-600 bg-dark border-0 p-2 px-3 rounded-4 rounded-xl">Previous</button>
                                <button type="button" id="nextBtn" @onclick="() => nextPrev(1)" class="text-center text-white fw-600 bg-dark border-0 p-2 px-3 rounded-4 rounded-xl ml-auto">Next</button>
                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string userInput;
    private string verificationCode;
    private string newPassword;
    private UserModel user = new();
    private int currentTab = 0;

    private IJSObjectReference? forgotPasswordJsReference;
    private DotNetObjectReference<ForgotPassword>? forgotPasswordDotnetReference;


    protected override async Task OnInitializedAsync()
    {
        forgotPasswordJsReference = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./RazorViews/PasswordReset/ForgotPassword.razor.js");
        await JSRuntime.InvokeVoidAsync("Helpers.setDotNetHelper", DotNetObjectReference.Create(this));
        forgotPasswordDotnetReference = DotNetObjectReference.Create(this);
        SetupTabs();
    }

    private async void SetupTabs()
    {
        await Task.Delay(200);
        await forgotPasswordJsReference.InvokeVoidAsync("initTabs");
    }

    private async void nextPrev(int n)
    {
        await forgotPasswordJsReference.InvokeVoidAsync("nextPrev", n, currentTab);
        currentTab += n;
    }

    [JSInvokable("callApiService")]
    public async Task CallApiService(int step)
    {
        var inputType = userInput.GetInputType();
        if (inputType == UsernameInputType.Invalid)
        {
            return;
        }
        if (inputType == UsernameInputType.Email)
        {
            switch (step)
            {
                case 1: // Send verification code
                    var forgotPasswordRequest = new ForgotPasswordRequest { Email =  userInput, Phone = string.Empty };
                    var sendCodeResult = await apiService.forgotpassword(forgotPasswordRequest);
                    if (!sendCodeResult.Success)
                    {
                        currentTab -= 1;
                    }
                    break;

                case 2: // Verify code
                    var verifyCodeRequest = new UserVerificationByEmailRequest { Email = userInput, VerificationCode = verificationCode };
                    var verifyCodeResult = await apiService.VerifyUserByEmail(verifyCodeRequest);
                    if (!verifyCodeResult.Success)
                    {
                        currentTab -= 1;
                    }
                    user = verifyCodeResult.Data;
                    break;

                case 3: // Set new password
                    var setPasswordRequest = new SetPasswordRequest { Id = user.Id, NewPassword = newPassword };
                    var setPasswordResult = await apiService.SetPassword(setPasswordRequest);
                    if (setPasswordResult.Success)
                    {
                        await Shell.Current.GoToAsync("//LoginPage");
                    }
                    break;
            }
        }
        if (inputType == UsernameInputType.PhoneNumber)
        {
            switch (step)
            {
                case 1: // Send verification code
                    var forgotPasswordRequest = new ForgotPasswordRequest { Email = string.Empty, Phone =userInput };
                    var sendCodeResult = await apiService.forgotpassword(forgotPasswordRequest);
                    if (!sendCodeResult.Success)
                    {
                        currentTab -= 1;
                    }
                    break;

                case 2: // Verify code
                    var verifyCodeRequest = new UserVerificationByEmailRequest { Email = userInput, VerificationCode = verificationCode };
                    var verifyCodeResult = await apiService.VerifyUserByEmail(verifyCodeRequest);
                    if (!verifyCodeResult.Success)
                    {
                        currentTab -= 1;
                    }
                    user = verifyCodeResult.Data;
                    break;

                case 3: // Set new password
                    var setPasswordRequest = new SetPasswordRequest { Id = user.Id, NewPassword = newPassword };
                    var setPasswordResult = await apiService.SetPassword(setPasswordRequest);
                    if (setPasswordResult.Success)
                    {
                        await Shell.Current.GoToAsync("//LoginPage");
                    }
                    break;
            }
        }


    }
    [JSInvokable("resetTabCount")]
    public Task resetTabCount(int n)
    {
        currentTab = currentTab - n;
        return Task.CompletedTask;
    }
}
